{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static "js/hanger.js" %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
        </script>
        <style>
	        .hint{
	            letter-spacing: 7px;
	            font face="Courier New";
	        }
	        .grayed{
	            background-color: #f2f2f2;
	            border: #FFFFFF medium solid;
	        }
	        .keybrd{
	            border: #FFFFFF medium solid;
	            background-color: #e3e3e3";
	        }
	    </style>
    </head>
    <body onload="init();"><!--""DrawHanger(0,'#C0C0C0',true);" onbeforeunload="LostGame();"-->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" id="game_name" href="#">{{interface_messages.game_name}}</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="#" id="reset">{{interface_messages.reset_game_prompt}}</a></li>
                <li><a href="#" id="show_answer">{{interface_messages.show_answer_prompt}}</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-globe"></span> <span id="languages_word"> {{interface_messages.languages_word}}</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for lang in all_languages %}
                            <li><a class="change_language" id="{{lang.code}}" href="#">{{lang.full_name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/"><span class="glyphicon glyphicon-lock"></span> Setup</a></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container text-center align-middle">
            <h1><div id="status_announcement">{{ interface_messages.status_announcement }}</div><br>
                <div class="hint" id="hint">{{the_word.hint}}</div></h1><br>
            <div class="row">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-sm-4">
                    <h3><span id="used_letters_label">{{interface_messages.used_letters_label}}</span>: <span id="used_ltrs">{{the_word.used_letters}}</span></h3>
                </div>
                <div class="col-sm-2 grayed">
                    <canvas id="Canvas1" width="100" height="200">Your browser doesn't support HTML5 canvas, it's a shame</canvas>
                </div>
                <div class="col-sm-3 hidden-xs"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-sm-4">
                    <h3><span id="attempts_left_label">{{interface_messages.attempts_left_label}}</span>: <span id="wrong_attempts">{{the_word.attempts_left}}</span></h3>
                </div>
                <div class="col-sm-2">
                    <br>
                    <div class="progress" id="progr_bar">
                        <div class="progress-bar progress-bar-success" id="perc_left" role="progressbar" style="width:{{percentage_left}}%"></div>
                        <div class="progress-bar progress-bar-danger" id="perc_used" role="progressbar" style="width:{{percentage_used}}%"></div>
                    </div>
                </div>
                <div class="col-sm-3 hidden-xs"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 visible-xs-block visible-sm-block"></div>
                {% for ch in "QWERTYUIOP" %}
                <div class="col-xs-1 alpha visible-xs-block visible-sm-block grayed" id="letter_{{ch}}">
                    <a href="#">{{ch}}</a>
                </div>
                {% endfor %}
                <div class="col-xs-1 visible-xs-block visible-sm-block"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 visible-xs-block visible-sm-block"></div>
                {% for ch in "ASDFGHJKL" %}
                <div class="col-xs-1 alpha visible-xs-block visible-sm-block grayed" id="letter_{{ch}}">
                    <a href="#">{{ch}}</a>
                </div>
                {% endfor %}
                <div class="col-xs-1 visible-xs-block visible-sm-block"></div>
                <div class="col-xs-1 visible-xs-block visible-sm-block"></div>
            </div>
            <div class="row">
                <div class="col-xs-1 visible-xs-block visible-sm-block"></div>
                <div class="col-xs-1 visible-xs-block visible-sm-block"></div>
                {% for ch in "ZXCVBNM" %}
                <div class="col-xs-1 alpha visible-xs-block visible-sm-block grayed" id="letter_{{ch}}">
                    <a href="#">{{ch}}</a>
                </div>
                {% endfor %}
                <div class="col-xs-1 visible-xs-block visible-sm-block"></div>
                <div class="col-xs-1 visible-xs-block visible-sm-block"></div>
                <div class="col-xs-1 visible-xs-block visible-sm-block"></div>
            </div>
        </div>
        {% if debug %}
            <br><br>
            <font color="#C0C0C0"><span id="debug_txt"></span></font>
            <br><br>
        {% endif %}
        <script src="{% static "js/hanger-ajax.js" %}"></script>
    </body>
</html>