{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static "js/hanger.js" %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
            $(document).ready(function(){
                $('[data-toggle="popover"]').popover();
            });
        </script>
        <style>
	        .hint{
	            letter-spacing: 7px;
	            font face="Courier New";
	        }
	        .grayed{
	            background-color: #f2f2f2;
	        }
	    </style>
    </head>
    <body onload="init();"><!--""DrawHanger(0,'#C0C0C0',true);" onbeforeunload="LostGame();"-->
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">{% if language == "rus" %}Виселица{% else %}Hanger{% endif %}</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="#"><span id="reset">{% if language == "rus" %}Сброс игры{% else %}Reset game{% endif %}</span></a></li>
                <li><a href="#" id="show_answer">{% if language == "rus" %}Показать ответ{% else %}Show answer{% endif %}</a></li>
                <li><a href="#" id="change_language">{% if language == "rus" %}English{% else %}Russian{% endif %}</a>
              </ul>
              <!--ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul-->
            </div>
          </div>
        </nav>
        <div class="container-fluid text-center">
            <h1><div id="status_msg">{{ the_word.status_message }}</div><br>
                <div class="hint" id="hint">{{the_word.hint}}</div></h1><br>
            <div class="row">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-sm-4">
                    <h3>{% if language == "rus" %}Использованные буквы{% else %}Used letters{% endif %}: <span id="used_ltrs">{{the_word.used_letters}}</span></h3>
                </div>
                <div class="col-sm-2 grayed">
                    <canvas id="Canvas1" width="100" height="200">{% if language == "rus" %}Ваш браузер не поддерживает HTML5 canvas, стыдитесь{% else %}Your browser doesn't support HTML5 canvas, it's a shame{% endif %}</canvas>
                </div>
                <div class="col-sm-3 hidden-xs"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 hidden-xs"></div>
                <div class="col-sm-4">
                    <h3>{% if language == "rus" %}Осталось попыток{% else %}Attempts left{% endif %}: <span id="wrong_attempts" title="Click to see the answer">{{the_word.attempts_left}}</span></h3>
                </div>
                <div class="col-sm-2">
                    <br>
                    <div class="progress" id="progr_bar">
                        <div class="progress-bar progress-bar-success" id="perc_left" role="progressbar" style="width:{{percentage_left}}%"></div>
                        <div class="progress-bar progress-bar-danger" id="perc_used" role="progressbar" style="width:{{percentage_used}}%"></div>
                    </div>
                </div>
                <div class="col-sm-3 hidden-xs"></div>
            </div>
        </div>
        {% if debug %}
            <br><br>
            <font color="#C0C0C0"><span id="debug_txt"></span></font>
            <br><br>
        {% endif %}
        <script src="{% static "js/hanger-ajax.js" %}"></script>
    </body>
</html>